body {
	background: #ffffff;
}

.ui.secondary.pointing.menu {
	background: #ffffff;
	border-bottom: 1px solid #BD9D5E;
}

.ui.secondary.pointing.menu .header.item {
	color: #191D24 !important;
}

#autochamp-label span {
	color: #191D24;
}

#autochamp-label::before {
	background: #ffffff !important;
	border: 2px solid #BD9D5E;
}

.ui.toggle.checkbox.checked #autochamp-label::before {
	background: #ffffff !important;
	border: 2px solid #00ACB1;
}

#autochamp-label::after {
	background: #d8cfbd !important;
}

div.ui.icon.input input {
	background: #ffffff;
	color: #191D24;
}

input::selection {
	background: #00ACB1;
	color: #ffffff;
}

.ui.search.fluid.champion .prompt {
	border: 2px solid #BD9D5E;
}

.ui.search.fluid.champion.focus .prompt {
	border: 2px solid #00ACB1;
}

.search.icon {
	color: #d8cfbd !important;
}

.results {
	border: 1px solid #BD9D5E !important;
}

.results .result {
	background: #ffffff;
}

.results .result.active {
	background: #f7f7f7 !important;
}

.results .result:hover {
	background: #f7f7f7 !important;
}

.ui.search > .results .result .title {
	color: #191D24;
}

.ui.search > .results .result.active .title {
	color: #191D24;
}

runebook .ui.horizontal.divider {
	color: #191D24;
}

.ui.top.attached.pointing.small.borderless.menu {
	background: #ffffff;
	border-color: #BD9D5E;
}

.ui.top.attached.pointing.small.borderless.menu .item {
	color: #191D24;
}

.ui.top.attached.pointing.small.borderless.menu .item.active {
	background: #BD9D5E;
	box-shadow: inset 1px 0px 0px 0px #BD9D5E, inset -1px 0px 0px 0px #BD9D5E;
	color: #ffffff;
}

.ui.top.attached.pointing.small.borderless.menu .item.active::after {
	background: #BD9D5E !important;
	border-bottom: 2px solid #BD9D5E !important;
	border-right: 2px solid #BD9D5E !important;
}

.ui.bottom.attached.tab.segment {
	background: #ffffff;
	border-color: #BD9D5E;
}

chapters-segment .ui.active.inverted.dimmer {
	background: #ffffff;
}

page-list ::-webkit-scrollbar-thumb {
    background: #71552B;
}

page-list ::-webkit-scrollbar-thumb:window-inactive {
    background: #71552B;
}

page-list ::-webkit-scrollbar-thumb:hover {
    background: #BD9D5E;
}

.ui.divided.list>.item {
	border-top: 1px solid #BD9D5E;
	color: #191D24 !important;
}

.row .header .icon {
	color: #BD9D5E;
}

.row .header .content {
	color: #191D24;
}

.row .header .content .sub.header {
	color: #191D24;
}

.ui.segment {
	background: #ffffff;
	border: 1px solid #BD9D5E;
}

.ui.segment .header {
	color: #191D24;
}

.ui.segment .header .sub.header {
	color: #191D24;
}

current-page .ui.button {
	background: #BD9D5E;
}

page-list .ui.button {
	background: #BD9D5E;
}

current-page .ui.button:hover {
	background: #C7B185;
}

page-list .ui.button:hover {
	background: #C7B185;
}

.ui.popup {
	background: #ffffff;
	color: #191D24;
	border: 1px solid #BD9D5E;
}

.ui.popup::before {
	background: #ffffff !important;
	border-bottom: 1px solid #BD9D5E !important;
	border-right: 1px solid #BD9D5E !important;
	box-shadow: none !important;
}

.ui.popup.bottom::before {
	background: #ffffff !important;
	border-left: 1px solid #BD9D5E !important;
	border-bottom: none !important;
	border-right: none !important;
	border-top: 1px solid #BD9D5E !important;
	box-shadow: none !important;
}
